

.app-header {
    background: blue;
    color: white;
    padding: 10px;
    top: 0;
    left: 0;
    position: relative;
    top: -8px;
    left: -8px;
    width: 100%;
}
.header-menu {
    cursor: pointer;
}
.app-header .header-title {
    font-size: 24px;
    font-weight: bold;
}

.app-header span {
    padding-right: 30px;
}

