.list-item {
    border: 1px solid rgb(196, 191, 191);
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
}
.list-item h4 {
    margin: 0 0 10px 0;
}

.list-item .list-descr {
    color: grey;
    margin-bottom: 10px;
}

.list-title {
    display: flex;
    justify-content: space-between;
    
}

.list-title label {
    color: black;    
}


.list-title > label {
    cursor: pointer;
    font-size: 12px;
    color: blue;    
    position: relative;
    white-space: nowrap;
}


